University Team Projects/ScrumDevelopmentApplication/ScrumDevelopmentApplication/Service References/SprintServiceReference/SprintService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SprintService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:42547/SprintService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:42547/SprintService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:42547/SprintService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISprintService_AddSprint_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSprint" />
  </wsdl:message>
  <wsdl:message name="ISprintService_AddSprint_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSprintResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetSprintList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSprintList" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetSprintList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSprintListResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_SearchForSprintUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchForSprintUser" />
  </wsdl:message>
  <wsdl:message name="ISprintService_SearchForSprintUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchForSprintUserResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_AddSprintStory_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSprintStory" />
  </wsdl:message>
  <wsdl:message name="ISprintService_AddSprintStory_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSprintStoryResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetSprintStories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSprintStories" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetSprintStories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSprintStoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetUserSprints_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserSprints" />
  </wsdl:message>
  <wsdl:message name="ISprintService_GetUserSprints_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserSprintsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISprintService">
    <wsdl:operation name="AddSprint">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/AddSprint" message="tns:ISprintService_AddSprint_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/AddSprintResponse" message="tns:ISprintService_AddSprint_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSprintList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/GetSprintList" message="tns:ISprintService_GetSprintList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/GetSprintListResponse" message="tns:ISprintService_GetSprintList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchForSprintUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/SearchForSprintUser" message="tns:ISprintService_SearchForSprintUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/SearchForSprintUserResponse" message="tns:ISprintService_SearchForSprintUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSprintStory">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/AddSprintStory" message="tns:ISprintService_AddSprintStory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/AddSprintStoryResponse" message="tns:ISprintService_AddSprintStory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSprintStories">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/GetSprintStories" message="tns:ISprintService_GetSprintStories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/GetSprintStoriesResponse" message="tns:ISprintService_GetSprintStories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserSprints">
      <wsdl:input wsaw:Action="http://tempuri.org/ISprintService/GetUserSprints" message="tns:ISprintService_GetUserSprints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISprintService/GetUserSprintsResponse" message="tns:ISprintService_GetUserSprints_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISprintService" type="tns:ISprintService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSprint">
      <soap:operation soapAction="http://tempuri.org/ISprintService/AddSprint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSprintList">
      <soap:operation soapAction="http://tempuri.org/ISprintService/GetSprintList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchForSprintUser">
      <soap:operation soapAction="http://tempuri.org/ISprintService/SearchForSprintUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSprintStory">
      <soap:operation soapAction="http://tempuri.org/ISprintService/AddSprintStory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSprintStories">
      <soap:operation soapAction="http://tempuri.org/ISprintService/GetSprintStories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserSprints">
      <soap:operation soapAction="http://tempuri.org/ISprintService/GetUserSprints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SprintService">
    <wsdl:port name="BasicHttpBinding_ISprintService" binding="tns:BasicHttpBinding_ISprintService">
      <soap:address location="http://localhost:42547/SprintService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>